<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}De Bossche Bakker{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block header %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{{ path('home') }}">De makkerij</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('home') }}">Brood van de week <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Broden
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Pain au naturel</a>
                                    <a class="dropdown-item" href="#">7 granen</a>
                                </div>
                            </li>
                        </ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    {% if is_granted('ROLE_BAKER') %}
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Master baker
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a href="{{ path('create_upcoming_bake') }}" class="dropdown-item">Nieuw baksels registreren</a>
                                            <a href="{{ path('logout') }}" class="dropdown-item">Uitloggen</a>
                                        </div>
                                    {% else %}
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Makker: {{ app.user.username }}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a href="{{ path('logout') }}" class="dropdown-item">Uitloggen</a>
                                        </div>
                                    {% endif %}
                                </li>
                            </ul>
                        {% else %}
                            {% if error %}
                                <span class="navbar-text">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                            {% endif %}

                            <form action="{{ path('login') }}" method="post" class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" id="username" name="_username" placeholder="E-mailadres" value="{{ last_username }}" />

                                <input class="form-control mr-sm-2" type="password" placeholder="Wachtwoord" id="password" name="_password" />

                                <input type="hidden" name="_target_path" value="/" />
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Inloggen</button>
                            </form>
                        {% endif %}
                    </div>
                </nav>
            {% endblock %}
        </div>
        <div class="container-fluid">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
